
{% extends "base.html" %}

{% block app_content %}

<!-- Latest compiled and minified Bootstrap CSS -->

<div class="d-flex justify-content-between">
    <h1 class="h3 mb-3">Profile</h1>
    <a class="text-dark float-end" href="/skill-edit"><i class="fa fa-arrow-left"></i> Edit Skills Page</a>
</div>
<div class="profile-page row">
    <div class="col-md-4 col-xl-3 col-3">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title mb-0">Profile Details</h5>
            </div>
            <div class="card-body text-center">
                {% if current_user.photourl %}
                <img src="{{ current_user.photourl }}" class="img-fluid rounded-circle mb-2" width="128" height="128" alt="{{ current_user.firstname }} {{ current_user.lastname }}" />
                {% else %}
                <img src="img/avatars/avatar.jpg" alt="Christina Mason" class="img-fluid rounded-circle mb-2" width="128" height="128" />
                {% endif %}

                <h5 class="card-title mb-0">{{ user }}</h5>
                <div class="text-muted mb-2">{{ current_user.title }}</div>
            </div>
            <hr class="my-0" />
            <div class="card-body">
                <div class="row">
                    <h5 class="h6 card-title">Skills</h5>
                </div>
                {% for skill in skills %}
                <a href="#" class="badge bg-primary me-1 my-1">{{ skill.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-8 col-xl-9 col-9">
        <div class="card">
            <div class="card-header">

                <h5 class="card-title mb-0">Resume</h5>
            </div>
            <div class="card-body h-100">
                {{ profile.resume }}
            </div>
            <form action="/profile" method="post">
                {{ form.csrf_token }}
                <div class="container">
                    <div class="panel-group" id="accordion">
                        <div class="resume">
                            {{ form.resume() }}
                        </div>

                        {% if form.resume.errors %}
                            <ul class="errors">
                                {% for error in form.resume.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        <div class="d-flex justify-content-end">
                            <button class="btn btn-primary text-white" type="submit"><i class="fa fa-plus"></i> Add</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

  <!-- end container -->
{% endblock %} 

