{% extends "base.html" %}
{% block app_head %}
<link rel="canonical" href="https://demo.adminkit.io/forms-editors.html" />
{% endblock %} 

{% block app_content%}
<!-- Latest compiled and minified Bootstrap CSS -->
<!-- <div class="row">
	<div class="col-12 d-flex justify-content-end">
		<button class="btn btn-link me-2">View Jobs</button>
		<button class="btn btn-link me-2">Post a Job</button>
		<button class="btn btn-link">Profile</button>
	</div>
</div> -->
<div class="row">
	<div class="col-12">
			<p class="lead">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
				euismod lacus velit, at condimentum erat tincidunt eu.
			</p>
	</div>
</div>	
<!-- <div class="row mb-2">
	<div class="col-md-4">
		<p class="lead">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
			euismod lacus velit, at condimentum erat tincidunt eu.
		</p>
	</div>
	<div class="col-md-8 d-flex justify-content-around">
		<button class="btn btn-outline-primary w-100 me-2">
			Upload Your Resume
		</button>
		<button class="btn btn-outline-primary w-100 me-2">
			Connect you LinkedIn
		</button>
		<button class="btn btn-outline-primary w-100">
			Add Individual Skill
		</button>
	</div>
</div> -->
<div class="profile-page row">
	<div class="col-md-4 col-xl-3 col-3">
		<div class="card mb-3">
			<div class="card-header">
				<h5 class="card-title mb-0">Profile Details</h5>
			</div>
			<div class="card-body text-center">
				{% if user.photourl %}
				<img
					src="{{ user.photourl }}"
					class="img-fluid rounded-circle mb-2"
					width="128"
					height="128"
					alt="{{ user.firstname }} {{ user.lastname }}" />
				{% else %}
				<img
					src="img/avatars/avatar.jpg"
					alt="{{ user.firstname }} {{ user.lastname }}"
					class="img-fluid rounded-circle mb-2"
					width="128"
					height="128" />
				{% endif %}

				<h5 class="card-title mb-0">{{ user }}</h5>
				<div class="text-muted mb-2">{{ user.title }}</div>
			</div>
			<hr class="my-0" />
			<div class="card-body">
				<div class="row">
					<div class="d-flex justify-content-between">
						<h5 class="h6 card-title">Skills</h5>
						<!--<a
							href="/profile/edit-skills"
							class="btn btn-sm btn-primary">
							<i class="fas fa-edit"></i>
							{{ "Edit Skills" if skills else "Add Skills" }}
						</a>-->
					</div>
				</div>
				{% for skill in skills %}
				<span class="dropdown position-relative skill-list">
					<a
						href="#"
						class="badge bg-primary me-1 my-1"
						data-bs-toggle="dropdown"
						data-bs-display="static"
						title="{{ skill.name }}"
						>{{ skill.name }}</a
					>
					<span
						class="dropdown-menu dropdown-menu-right text-center"
						style="background-color: #90baeb; font-style: italic">
						<span>{{ skill.description }}</span>
				</span>
				</span>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="col-md-8 col-xl-9 col-9">
		<div class="card">
			<div class="card-header">
				<div class="d-flex justify-content-between">
					<h5 class="card-title mb-0">Resume</h5>
					{% if profile.user_id == current_user.userid %}
						<a
							href="#"
							class="btn btn-sm btn-primary"
							id="upload-resume-btn"
							data-bs-toggle="modal"
							data-bs-target="#edit_resume_modal">
							<i class="fas fa-edit"></i>
							{{ "Edit Resume" if profile.resume else "Upload Resume"}}
						</a>
					{% endif %}
				</div>
			</div>
			<div class="card-body h-100" id="resume-panel">
				{{ profile.resume | safe }}
			</div>
		</div>
	</div>
	<div
		class="modal fade"
		id="edit_resume_modal"
		tabindex="-1"
		role="dialog"
		aria-hidden="true">
		<div
			class="modal-dialog modal-dialog-centered modal-lg"
			role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit resume</h5>
					<button
						type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body m-3">
					<div class="d-flex align-items-center modal-spinner d-none">
						<strong>Loading...</strong>
						<div
							class="spinner-border ms-auto"
							role="status"
							aria-hidden="true"></div>
					</div>
					<form>
						<div class="clearfix mb-3">
							<div id="quill-toolbar">
								<span class="ql-formats">
									<select class="ql-size"></select>
								</span>
								<span class="ql-formats">
									<select class="ql-color"></select>
								</span>
								<span class="ql-formats">
									<button class="ql-bold"></button>
									<button class="ql-italic"></button>
									<button class="ql-underline"></button>
									<button class="ql-strike"></button>
								</span>
								<span class="ql-formats">
									<button class="ql-header" value="1"></button>
									<button class="ql-header" value="2"></button>
								</span>
								<span class="ql-formats">
									<button class="ql-list" value="ordered"></button>
									<button class="ql-list" value="bullet"></button>
								</span>
							</div>
							<div id="quill-editor"></div>
						</div>
						<span
							id="resume-edit-btn"
							class="btn btn-primary float-end ms-3"
							>Upload</span
						>
						<button
							type="button"
							class="btn btn-secondary float-end"
							data-bs-dismiss="modal">
							Cancel
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end app_content -->
{% endblock %} 
	
<!-- script block -->
{% block script %}
<script>
	document.addEventListener('DOMContentLoaded', function () {
		flatpickr('.flatpickr-minimum', {
			minDate: 'today',
		});
		editor = new Quill('#quill-editor', {
			modules: {
				toolbar: '#quill-toolbar',
			},
			placeholder: 'Write resume description here...',
			theme: 'snow',
		});
	});
	let flag = 'Create';
	const resume = $('#resume-panel').html().trim();
	if (resume) flag = 'Edit';
	$('#upload-resume-btn').on('click', function () {
		if (flag === 'Create') {
			$('.modal-title').html('Create your resume');
		} else {
			editor.root.innerHTML = resume;
		}
	});
	$('#resume-edit-btn').on('click', function () {
		var resume = editor.root.innerHTML;
		$('#edit_resume_modal').modal('hide');
		$.ajax({
			type: 'POST',
			url: '/profile',
			data: {
				resume: resume,
			},
			success: function () {
				loading();
				location.reload(true);
			},
		});
		unloading();
	});
</script>
<link rel="stylesheet" href="{{ url_for('static',filename='css/profile.css')}}"/>
{% endblock %}
