
{% extends "base.html" %}
{% block app_head %}
<script src="/static/js/dhtmlxsuite.js"></script>
<link href="/static/css/dhtmlxsuite.css" rel="stylesheet"></link>
{% endblock %}
{% block app_content %}

<!-- Latest compiled and minified Bootstrap CSS -->
<div class="d-flex justify-content-end">
    <a class="text-dark float-end" href="/profile"><i class="fa fa-arrow-left"></i> Profile Page</a>
</div>
<div class="skill-edit-page">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div style="max-width: 600px; width: 100%;" id="pcombo"></div>
            <span id="skills-edit-btn" class="btn btn-primary" style="height: 35px; margin:auto;">Update</span>
        </div>
        <div class="card-body">
        {% if skills %}
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            {% for skill in skills %}
                <tr>
                    <td>{{ skill.name }}</td>
                    <td>
                        <a href="/profile/skill-edit/delete/{{ skill.id }}" class="btn btn-sm btn-danger">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>There are no skills</p>
        {% endif %}
        </div>
    </div>
</div>

  <!-- end container -->
{% endblock %}
{% block script %}
<script>
    const pcombo = new dhx.Combobox("pcombo", {
    multiselection: true,
    label: "Skills",
    });
    pcombo.disable()
    pcombo.data.load('/profile/total-skills-data').then(function() {
        pcombo.enable()
        pcombo.focus()
    });

    $("#skills-edit-btn").on('click', function(){
        var newSkills = pcombo.getValue()
        if (newSkills != "") {
            $.ajax({
                method: "POST",
                url: "/profile/skill-add",
                data: {
                    newSkills
                },
                success: function() {
                    location.reload()
                }
            })
        }
        else alert("Please select your new skills")
    })
</script>
{% endblock %}