Flask
sqlalchemy<2.0
Flask-Admin
Flask-SQLAlchemy
Flask-Login
Flask-WTF
Flask-Session
psycopg2-binary
requests
google
google-cloud
google-cloud-bigquery
gspread
oauthlib
oauth2client
pyOpenSSL
swig
openpyxl
pandas
db-dtypes
ipython
timer
gpt_index
pypdf2
docx2txt
gensim
redis
scikit-learn
textmagic
