Flask
Flask-Admin
Flask-SQLAlchemy
Flask-Bootstrap
Flask-Login
Flask-WTF
Flask-Session
Flask-Crontab
psycopg2-binary
requests
google
google-cloud
google-cloud-bigquery
gspread
oauthlib
oauth2client
pyOpenSSL
swig
openpyxl
pandas
mljar-supervised
autopytorch
db-dtypes
ipython
polars
