{% extends "base.html" %}

{% block app_head %}
<script src="/static/js/dhtmlxsuite.js"></script>
<link href="/static/css/dhtmlxsuite.css" rel="stylesheet"></link>
{% endblock %}


{% block app_content %}
<div class="card">
	<div class="card-body">
		<div id="layout" style="height: 80%; width: 100%"></div>
	</div>
</div>
<script>
    ///////////////////////////////////////////////////////////////////////
    // OVERALL LAYOUT
    const layout = new dhx.Layout("layout", {
        rows: [
            { id: "yearcombo", width: "300px" },
            { id: "lrcatcombo", width: "300px" },
            {
                cols: [
                    { id: "cstcombo", width: "300px" },
                    { id: "or", html: "<i>or</i>", padding: "30px" },
                    { id: "clientcombo", width: "600px" },
                    { id: "blank", gravity: 100 },
                ],
                height: "content",
                align: "left",
            },
            { id: "checkboxformcontainer", html: '<form id="form"></form>' },
            { id: "note", html: "Numbers are in FTE ('Billable Allocation'), accounts for part-timers, part-billable, etc. Shorter months and expected vacation/sick are also accounted for. Numbers include full-time and contract, not freelance.</i>" },
            { id: "treegrid" },
        ]
    });

    ///////////////////////////////////////////////////////////////////////
    // YEAR DROPDOWN
    const years = [
        {% for y in range(startyear,endyear+1)  %}
        { "id" : {{y}}, "value" : "{{y}}" },
        {% endfor %}
    ]
    const yearcombo = new dhx.Combobox(null, {
        multiselection: false,
        data: years,
        label: "Year",
        value: {{thisyear}},
        readOnly: true,
    });
    yearcomboonchange = function(id) {
        var year = yearcombo.getValue();
        if (year == "") return;
        cstcombo.data.removeAll();
        cstcombo.data.load('/forecasts/cst-list?year='+year);
        cstcombo.disable();
        cstcombo.setValue('');
        clientcombo.data.removeAll();
        clientcombo.data.load('/forecasts/client-list?year='+year);
        clientcombo.disable();
        clientcombo.setValue('');
        lrcatcombo.data.removeAll();
        lrcatcombo.data.load('/forecasts/lrcat-list?year='+year);
        lrcatcombo.disable();
        lrcatcombo.setValue('');
        treegrid.data.removeAll();
        loadgrid();
    }
    yearcombo.events.on("change", yearcomboonchange);
    setTimeout(yearcomboonchange, 0);
    layout.getCell("yearcombo").attach(yearcombo);

    ///////////////////////////////////////////////////////////////////////
    // LABOR CATEGORY DROPDOWN
    const lrcatcombo = new dhx.Combobox(null, {
        multiselection: false,
        readOnly: true,
        label: "Labor Category (req'd)",
    });
    lrcatcombo.events.on("change", function(id) {
        loadgrid();
    });
    lrcatcombo.data.events.on("load", function() {
        lrcatcombo.enable();
    });
    layout.getCell("lrcatcombo").attach(lrcatcombo);

    ///////////////////////////////////////////////////////////////////////
    // CST DROPDOWN
    const cstcombo = new dhx.Combobox(null, {
        multiselection: true,
        label: "CST",
    });
    cstcombo.events.on("change", function(id) {
        loadgrid();
    });
    cstcombo.data.events.on("load", function() {
        cstcombo.enable();
    });
    layout.getCell("cstcombo").attach(cstcombo);

    ///////////////////////////////////////////////////////////////////////
    // CLIENT DROPDOWN
    const clientcombo = new dhx.Combobox(null, {
        multiselection: true,
        label: "Division",
    });
    clientcombo.events.on("change", function(id) {
        loadgrid();
    });
    clientcombo.data.events.on("load", function() {
        clientcombo.enable();
    });
    layout.getCell("clientcombo").attach(clientcombo);

    ///////////////////////////////////////////////////////////////////////
    // THE BIG TREEGRID
    treegridcelltemplate = function(text, row, col) {
        if (text && row.id == 'lcat') {
            //return "<i>"+text+"</i><span style='width:3px'></span>";
            //return "<b>"+text+"</b>";
            return "<b>"+text+"</b>";
        }
        else {
            return text;
        }
    }

    const emptydata = [];
    const treegrid = new dhx.TreeGrid("grid", {
        autoWidth: true,
        autoHeight: true,
        resizable: true,
        selection: true,
        headerRowHeight: 32,
        rowHeight: 32,
        label: "Forecasts and Targets",
    });
    treegrid.data.events.on("load", function() {
        unloading();
        year = yearcombo.getValue();
        thisyear = "{{thisyear}}";
        // build column dataset: if it's this year, add HC column, and if months are present in the data then keep the column
        columns = [ { id: "name", gravity: 4, minWidth: 150, header: [{ text: "Name" }] } ]
        if (year == thisyear) {
            //columns.push({ id: "hc", type: "number", format: "#.0", htmlEnable: true, template: treegridcelltemplate, header: [{ text: "HC Now" }] });
            columns.push({ id: "ba", type: "number", format: "#.0", htmlEnable: true, template: treegridcelltemplate, header: [{ text: "FTE Now" }] });
            columns.push({ id: "billedpct", type: "number", format: "#.0", htmlEnable: true, template: treegridcelltemplate, header: [{ text: "BillPct 3m" }] });
        }

        datarow = treegrid.data.getItem('lcat')
        if (!datarow) return;

        if ("m1" in datarow)
            columns.push({ id: "m1", type: "number", format: "#.0", htmlEnable: true, template: treegridcelltemplate, header: [{ text: "Jan" }] });
        if ("m2" in datarow)
            columns.push({ id: "m2", type: "number", format: "#.0", htmlEnable: true, template: treegridcelltemplate, header: [{ text: "Feb" }] });
        if ("m3" in datarow)
            columns.push({ id: "m3", type: "number", format: "#.0", htmlEnable: true, template: treegridcelltemplate, header: [{ text: "Mar" }] });
        if ("m4" in datarow)
            columns.push({ id: "m4", type: "number", format: "#.0", htmlEnable: true, template: treegridcelltemplate, header: [{ text: "Apr" }] });
        if ("m5" in datarow)
            columns.push({ id: "m5", type: "number", format: "#.0", htmlEnable: true, template: treegridcelltemplate, header: [{ text: "May" }] });
        if ("m6" in datarow)
            columns.push({ id: "m6", type: "number", format: "#.0", htmlEnable: true, template: treegridcelltemplate, header: [{ text: "Jun" }] });
        if ("m7" in datarow)
            columns.push({ id: "m7", type: "number", format: "#.0", htmlEnable: true, template: treegridcelltemplate, header: [{ text: "Jul" }] });
        if ("m8" in datarow)
            columns.push({ id: "m8", type: "number", format: "#.0", htmlEnable: true, template: treegridcelltemplate, header: [{ text: "Aug" }] });
        if ("m9" in datarow)
            columns.push({ id: "m9", type: "number", format: "#.0", htmlEnable: true, template: treegridcelltemplate, header: [{ text: "Sep" }] });
        if ("m10" in datarow)
            columns.push({ id: "m10", type: "number", format: "#.0", htmlEnable: true, template: treegridcelltemplate, header: [{ text: "Oct" }] });
        if ("m11" in datarow)
            columns.push({ id: "m11", type: "number", format: "#.0", htmlEnable: true, template: treegridcelltemplate, header: [{ text: "Nov" }] });
        if ("m12" in datarow)
            columns.push({ id: "m12", type: "number", format: "#.0", htmlEnable: true, template: treegridcelltemplate, header: [{ text: "Dec" }] });

        treegrid.setColumns(columns);

        treegrid.collapseAll();
        // open the first row
        treegrid.expand('lcat');
    });
    layout.getCell("treegrid").attach(treegrid);

    ///////////////////////////////////////////////////////////////////////
    // CHECKBOXES
    const form = new dhx.Form("form", {
        width: "300px",
        height: "100%",
        rows: [
            { id: "showsources", type: "checkbox", label: "Show Sources", labelWidth: "250px", labelPosition: "left", disabled: false, required: false, hidden: false, helpMessage: "Show the source of each forecast, including test predictive models" },
            { id: "showportfolios", type: "checkbox", label: "Show Portfolios", labelWidth: "250px", labelPosition: "left", disabled: false, required: false, hidden: false, helpMessage: "Show portfolios under labor roles" },
            { id: "showyear", type: "checkbox", label: "Show Full Year", labelWidth: "250px", labelPosition: "left", disabled: false, required: false, hidden: false, helpMessage: "Show the full year instead of just the next 3 months" },
            { id: "showhours", type: "checkbox", label: "Show Hours Instead of FTE", labelWidth: "250px", labelPosition: "left", disabled: false, required: false, hidden: false, helpMessage: "Show hours instead of FTE" },
            { id: "showlaborroles", type: "checkbox", label: "Show Labor Roles Instead of Job Function", labelWidth: "250px", labelPosition: "left", disabled: false, required: false, hidden: false, helpMessage: "Show more detail with LR's instead of JF" },
        ]
    });
    form.events.on("change", function(id) {
        loadgrid();
    });

    ///////////////////////////////////////////////////////////////////////
    // GRID LOADING FUNCTION
    loadgrid = function(id) {
        var year = yearcombo.getValue();
        var lrcat = lrcatcombo.getValue();
        var csts = cstcombo.getValue();
        var clients = clientcombo.getValue();
        var showportfolios = form.getItem("showportfolios").getValue();
        var showsources = form.getItem("showsources").getValue();
        var showyear = form.getItem("showyear").getValue();
        var showhours = form.getItem("showhours").getValue();
        var showlaborroles = form.getItem("showlaborroles").getValue();
        if (lrcat != "") {
            treegrid.data.removeAll();
            postfix = '&showportfolios='+showportfolios+'&showsources='+showsources+'&showyear='+showyear+'&showhours='+showhours+'&showlaborroles='+showlaborroles;
            if (csts != "")
                treegrid.data.load('dept-lr-forecasts-data?year='+year+'&lrcat='+lrcat+'&csts='+csts+postfix);
            else if (clients != "")
                treegrid.data.load('dept-lr-forecasts-data?year='+year+'&lrcat='+lrcat+'&clients='+clients+postfix);
            else
                treegrid.data.load('dept-lr-forecasts-data?year='+year+'&lrcat='+lrcat+postfix);
            loading();
        }
    }

</script>

{% endblock %}

