{% extends "base.html" %}

{% block app_head %}
<script src="/static/js/dhtmlxsuite.js"></script>
<link href="/static/css/dhtmlxsuite.css" rel="stylesheet"></link>

<style>
    .dhx_grid-cell, .dhx_footer-wrapper, .dhx_header-wrapper, .dhx_grid-header-cell, .dhx_tree-cell {
        font-size: 12px;
    }
</style>
{% endblock %}


{% block app_content %}

<div style="max-width: 150px" id="yearcombo"></div>

<table><tr>
    <td><div style="width: 300px; " id="cstcombo"></div></td>
    <td style="padding-left: 15px; padding-right: 15px;"><i>or</i></td>
    <td><div style="width: 600px; " id="clientcombo"></div></td>
</tr></table>

<div style="width: 100%; min-height: 500px; height: 100%; border:1px;" id="grid"></div>

<script>

    const cstcombo = new dhx.Combobox("cstcombo", {
        multiselection: true,
        label: "CST",
    });
    cstcomboonchange = function(id) {
        var year = yearcombo.getValue();
        var csts = cstcombo.getValue();
        if (csts != "")
            treegrid.data.load('portfolio-forecasts-data?year='+year+'&csts='+csts);
    }
    cstcombo.events.on("change", cstcomboonchange);


    const clientcombo = new dhx.Combobox("clientcombo", {
        multiselection: true,
        label: "Client",
    });
    clientcomboonchange = function(id) {
        var year = yearcombo.getValue();
        var clients = clientcombo.getValue();
        if (clients != "")
            treegrid.data.load('portfolio-forecasts-data?year='+year+'&clients='+clients);
    }
    clientcombo.events.on("change", clientcomboonchange);


    const years = [
        {% for y in range(startyear,endyear+1)  %}
        { "id" : {{y}}, "value" : "{{y}}" },
        {% endfor %}
    ]
    const yearcombo = new dhx.Combobox("yearcombo", {
        multiselection: false,
        data: years,
        label: "Year",
        value: {{thisyear}},
        readOnly: true,
    });
    yearcomboonchange = function(id) {
        var year = yearcombo.getValue();
        cstcombo.data.load('/forecasts/cst-list?year='+year);
        clientcombo.data.load('/forecasts/client-list?year='+year);
    }
    yearcombo.events.on("change", yearcomboonchange);
    yearcomboonchange(null);

    const treegrid = new dhx.TreeGrid("grid", {
        columns: [
            { id: "name", gravity: 4, header: [{ text: "Name" }] },
            { id: "m1", type: "number", header: [{ text: "Jan" }] },
            { id: "m2", type: "number", header: [{ text: "Feb" }] }, 
            { id: "m3", type: "number", header: [{ text: "Mar" }] },
            { id: "m4", type: "number", header: [{ text: "Apr" }] },
            { id: "m5", type: "number", header: [{ text: "May" }] },
            { id: "m6", type: "number", header: [{ text: "Jun" }] },
            { id: "m7", type: "number", header: [{ text: "Jul" }] },
            { id: "m8", type: "number", header: [{ text: "Aug" }] },
            { id: "m9", type: "number", header: [{ text: "Sep" }] },
            { id: "m10", type: "number", header: [{ text: "Oct" }] },
            { id: "m11", type: "number", header: [{ text: "Nov" }] },
            { id: "m12", type: "number", header: [{ text: "Dec" }] },
        ],
        autoWidth: true,
        autoHeight: true,
        resizable: true,
        selection: true,
        label: "Forecasts and Targets",
    });
    treegrid.data.events.on("load", function() {
        treegrid.collapseAll();
    });
</script>

{% endblock %}

