{% extends "forecasts/portfolio-forecasts.html" %}

<script language="javascript">
{% block layout %}
const layout = new dhx.Layout("layout", {
    rows: [
        { id: "yearcombo", width: "300px" },
        {
            cols: [
                { id: "cstcombo", width: "300px" },
                { id: "or", html: "<i>or</i>", padding: "30px" },
                { id: "clientcombo", width: "600px" },
                { id: "blank", gravity: 100 },
            ],
            height: "content",
            align: "left",
        },
        { id: "note", html: "Forecasts in <i>italics</i> come from machine forecasts and <b>bold</b> are PM overrides; double click on any forecast to override it.</i>" },
        { id: "treegrid" },
    ]
});
{% endblock %}

{% block cstcomboonchange %}
cstcomboonchange = function(id) {
    var year = yearcombo.getValue();
    var csts = cstcombo.getValue();
    if (csts != "") {
        treegrid.data.removeAll();
        treegrid.data.load('portfolio-lr-forecasts-data?year='+year+'&csts='+csts);
        loading();
    }
}
{% endblock %}

{% block clientcomboonchange %}
clientcomboonchange = function(id) {
    var year = yearcombo.getValue();
    var clients = clientcombo.getValue();
    if (clients != "") {
        treegrid.data.removeAll();
        treegrid.data.load('portfolio-lr-forecasts-data?year='+year+'&clients='+clients);
        loading();
    }
}
{% endblock %}



</script>