{% extends "forecasts/portfolio-forecasts.html" %}

{% block cstcomboonchange %}
    cstcomboonchange = function(id) {
        var year = yearcombo.getValue();
        var csts = cstcombo.getValue();
        if (csts != "") {
            treegrid.data.removeAll();
            treegrid.data.load('portfolio-lr-forecasts-data?year='+year+'&csts='+csts);
        }
    }
{% endblock %}

{% block clientcomboonchange %}
    clientcomboonchange = function(id) {
        var year = yearcombo.getValue();
        var clients = clientcombo.getValue();
        if (clients != "")
            treegrid.data.load('portfolio-lr-forecasts-data?year='+year+'&clients='+clients);
    }
{% endblock %}

