{% macro render_form(form) %}
    {% for field in form %}
    <!-- {% if field.description == category %} -->
    {% if field.type == "CSRFTokenField" %}
        <p>
            {{ field }}
        </p>
    {% elif field.type == "SubmitField" %}
        <p>
            {{ field (class_="btn btn-primary")}}
        </p>
    {% elif field.type == "MultiCheckboxField" %}
        <div class="input-group">
            <p>
                {{ field.label }}</br>
                {% for value, label, _ in field.iter_choices() %}
                <label class="checkbox-inline">
                    <input type="checkbox" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}">{{ label }}
                </label>
                {% endfor %}
                {% for error in field.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        </div>
    {% elif field.type == "RadioField" %}
        <div class="input-group">
            <p>
                {{ field.label }}</br>
                {% for value, label, _ in field.iter_choices() %}
                <label class="radio-inline">
                    <input type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}">{{ label }}
                </label>
                {% endfor %}
                {% for error in field.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        </div>
    {% else %}
        <div class="input-group">
            <p>
                {{ field.label }}
                {{ field (class_="form-control")}}
                {% for error in field.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        </div>
    {% endif %}
    <!-- {% endif %} -->
    {% endfor %}
{% endmacro %}

{% extends "base.html" %} {% block app_content %}

<h1 class="text-center">Job create</h1>
<!-- Latest compiled and minified Bootstrap CSS -->
<form id="job" action="/job/jobs-create" method="post">
  {{form.hidden_tag()}}
  <div class="container">
    <div class="col-12 col-xl-6">
      <div class="card">
        <div class="card-header">
          <h5>Please add new job post!</h5>
        </div>
        <div class="card-body">
            <!-- {{form.title}} -->
          {{ render_form(form)}}
        </div>
      </div>
    </div>
  </div>
</form>
<!-- end container -->
{% endblock %} 

{% block scripts %}
<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{{ super() }}
{% endblock %}
