.skill-edit-page select {
    width: 100% !important;
    height: 500px !important;
}

.skill-edit-page .pure-table {
    width: 100% !important;
}

.profile-page .panel-group textarea{
    width: 100%;
    height: 300px;
}

.profile-page .panel-group .resume {
    word-break: break-all;
}

.profile-page .dropdown-menu {
    min-width: 38rem !important;
}
div.loading {
    width: 135px;
    height: 135px;
    display: none;
    background: url("/static/img/spinning.gif") no-repeat;
    cursor: wait;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
    z-index: 9999999999;
}

/* DHTMLx Overrides */
.dhx_grid-cell, .dhx_footer-wrapper, .dhx_header-wrapper, .dhx_grid-header-cell
{
    font-size: 12px;
}
.dhx_cell-editor {
    font-size: 12px
}

.dxi.dxi-chevron-down:before {
    content: "\F115";
}
.dxi.dxi-chevron-up:before {
    content: "\F113";
}
