/* Global SCSS Variables for calculations*/
:root {
  --gcr-font-family: "Open Sans", system-ui, Helvetica, Arial, sans-serif;
  --gcr-info-rgb: 82, 187, 224;
  --gcr-primary: #2399c2;
  --gcr-primary-rgb: 35, 153, 194;
  --gcr-primary-darker-5: #1f88ac;
  --gcr-primary-darker-10: #1b7797;
  --gcr-primary-darker-15: #176681;
  --gcr-primary-lighter-5: #27aad8;
  --gcr-primary-lighter-10: #3cb3dc;
  --gcr-primary-lighter-15: #52bbe0;
  --gcr-primary-lighter-30: #93d5eb;
  --gcr-primary-lighter-40: #bee5f3;
  --gcr-primary-lighter-50: #e9f6fb;
  --gcr-secondary: #32383e;
  --gcr-secondary-rgb: 50, 56, 62;
  --gcr-success: #43D476;
  --gcr-success-rgb: 67, 212, 118;
  --gcr-success-lighter-5: #58d985;
  --gcr-success-lighter-10: #6ddd94;
  --gcr-success-lighter-15: #81e2a3;
  --gcr-success-lighter-30: #c0f0d1;
  --gcr-success-lighter-40: #e9faef;
  --gcr-success-darker-5: #2fce67;
  --gcr-success-darker-10: #2aba5d;
  --gcr-warning: #fed933;
  --gcr-warning-rgb: 254, 217, 51;
  --gcr-warning-lighter-5: #fede4c;
  --gcr-warning-lighter-10: #fee266;
  --gcr-warning-lighter-15: #fee77f;
  --gcr-warning-lighter-30: #fff5cb;
  --gcr-warning-darker-5: #fed41a;
  --gcr-warning-darker-10: #fdcf01;
  --gcr-danger: #ed1d24;
  --gcr-danger-rgb:237, 29, 36;
  --gcr-danger-lighter-5: #ef353b;
  --gcr-danger-lighter-10: #f14c52;
  --gcr-danger-lighter-15: #f36469;
  --gcr-danger-lighter-30: #f8abad;
  --gcr-danger-lighter-40: #fcdadb;
  --gcr-danger-darker-5: #df1219;
  --gcr-danger-darker-10: #c71016;
  --gcr-offwhite: rgb(244, 248, 248);
  --gcr-lightgrey: rgb(230, 230, 235);
  --gcr-slate: #6d6e7d;
  --gcr-eggplant: #261e37;
  --gcr-fog: rgb(230, 230, 235);
  --gcr-grey: #C9CED3;
  --gcr-grey-light: #DFE5EB;
  --gcr-grey-lighter: #F5F8FB;
  --gcr-primary-text: #4f5357;
  --gcr-secondary-text: #798086;
  --gcr-topbar-height: 60px;
  --gcr-topbar-color: #32383E;
  --gcr-sidebar-width: 230px;
  --gcr-body-bg-color: #EAEEF1;
  --gcr-rounding-xs: 2px;
  --gcr-rounding-sm: 4px;
  --gcr-rounding-md: 8px;
  --gcr-rounding-lg: 16px;
  --gcr-spacing-xs: 2px;
  --gcr-spacing-sm: 4px;
  --gcr-spacing-md: 8px;
  --gcr-spacing-lg: 16px;
  --gcr-size-ctrl-xxs: 16px;
  --gcr-size-ctrl-xs: 24px;
  --gcr-size-ctrl-sm: 32px;
  --gcr-size-ctrl-md: 40px;
  --gcr-size-ctrl-lg: 48px;
  --gcr-size-ctrl-xl: 64px;
  --gcr-size-ctrl-xxl: 128px;
  --icon-xs: 16px;
  --icon-sm: 24px;
  --icon-md: 32px;
  --icon-lg: 64px;
  --icon-xl: 128px;
  --text-xxs: 10px;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-xxl: 24px;
  --line-height-xs: 18px;
  --line-height-sm: 20px;
  --line-height-md: 22px;
  --line-height-lg: 24px;
  --line-height-xl: 26px;
}

body {
  font-family: var(--gcr-font-family);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: var(--gcr-primary-text);
}

.topbar-logo img {
  max-width: 100%;
  width: 100%;
  height: calc(var(--gcr-topbar-height) - 6px);
  position: relative;
  background: var(--gcr-primary);
}

/*# sourceMappingURL=genome-styles.css.map */
