.job-details {
	height: 70px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.other-info {
	font-size: x-small;
}
#people-list {
	height: 450px;
	overflow: auto;
}

.accordion-button::after {
	background-image: none;
}
.accordion-button:not(.collapsed)::after {
	background-image: none;
}
.accordion-button {
	--bs-accordion-btn-icon-width: 0;
	--bs-accordion-active-bg: white;
	border-end-end-radius: 5px;
}
.accordion {
	--bs-accordion-bg: white;
}
.accordion-flush .accordion-item,
.accordion-flush .accordion-item .accordion-button {
	border-radius: 5px;
}
.accordion-flush .accordion-item .accordion-button:not(.collapsed) {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.card-title {
	--bs-card-title-spacer-y: 0px;
}

.job-ul-list > .dhx_list-item,
.job-ul-list > .dhx_list-item--text {
	background-color: white;
	margin-bottom: 15px;
	padding: 0px;
	padding-left: 5px;
}
.job-ul-list > .dhx_list-item--focus,
.job-ul-list > .dhx_list-item--selected:hover,
.job-ul-list > .dhx_list-item:hover {
	background-color: white;
}

.applicant-ul-list > .dhx_list-item:last-child {
	border-bottom: none;
}

.dhx_input {
	background-color: white;
}
.invalidMsg {
	display: none;
}
.form-editor-container.dhx_form-group--state_error .invalidMsg {
	display: block;
}

#quill-editor {
	height: 260px;
}

@media only screen and (max-width: 768px) {
	#quill-editor {
		height: calc(100vh - 720px);
	}
}

.form-btns-container {
	flex: auto !important;
	align-items: flex-end;
}
.form-btns-container > div{
	margin: 5px;
}

.dhx_form-group--textarea .dhx_label {
	min-height: auto;
	white-space: break-spaces;
	overflow-x: visible;
	text-overflow: initial;
}

.accordion-button:not(.collapsed) .no-show-on-collapse,
.accordion-button.collapsed .show-on-collapse{
	display: block;
}

.accordion-button:not(.collapsed) .show-on-collapse,
.accordion-button.collapsed .no-show-on-collapse {
	display: none !important;
}

.dhx_window .dhx_window-header .dhx_toolbar .dhx_navbar{
	padding: 20px 16px 0 28px;
}
.dhx_window-content{
	padding-bottom: 20px;
}