{% extends "base.html" %} 

{% block app_head %}
<script src="/static/js/dhtmlxsuite.js"></script>
<link href="/static/css/dhtmlxsuite.css" rel="stylesheet"/>
<link rel="canonical" href="https://demo.adminkit.io/forms-editors.html" />
{% endblock %}

<!-- component container -->
{% block app_content %}
<p class="clearfix">
    <!--<a href="#" class="float-end text-decoration-underline ms-3" id="personal-settings-btn" data-bs-toggle="modal" data-bs-target="#personal_settings_modal">Personal Settings</a>-->
    <a href="#" class="float-end text-decoration-underline ms-3" id="create-job-btn">Create a Job</a>
    <!--<a href="#" class="float-end text-decoration-underline ms-3" id="available-people-btn" data-bs-toggle="modal" data-bs-target="#available_people_modal">View Available People</a>-->
</p>

<div class="row">
	<div class="form-group col-lg-2 col-md-3 mb-3">
		<label for="date-posted-select">Date Posted</label>
		<select id="date-posted-select" class="form-select" aria-label="select date posted">
			<option value="0" selected>All</option>
			<option value="1">Past 24 hours</option>
			<option value="3">Past 3 days</option>
			<option value="7">Past 7 days</option>
			<option value="30">Past 30 days</option>
		</select>
	</div>
	<div class="form-group col-lg-3 col-md-3 mb-3">
		<label for="job-title-select">Job Title</label>
		<select id="job-title-select" class="form-select" aria-label="select job title">
			<option value="" selected>All</option>
			{% for title in titles %}
			<option value={{ title.name }}>{{ title.name }}</option>
			{% endfor %}	
		</select>
	</div>	
	<div class="form-group col-lg-4 offset-lg-3 col-md-6 mb-3">
		<label for="text_search">Search</label>
		<input type="text" id="text_search" class="form-control" placeholder="Find in title and description" aria-label="Search">
	</div>
</div>	
<div class="row">
	<div class="accordion accordion-flush col-12" id="jobListAccordion">
		<div id="jobListView" class="col-12"></div>
	</div>
</div>


{% endblock %}

{% block script %}

<script>
	var jobs = {{ jobs | tojson }};
	var titles = [
		{
			value: "0",
			content: "Select Job Title"
		},
		{% for title in titles %}
			{
				value: "{{ title.name }}",
				content: "{{ title.name }}"
			},
		{% endfor %}
	];

	var csts = [
		{% for cst in csts %}
			{
				value: "{{ cst }}",
				id: "{{ cst }}"
			},
		{% endfor %}
	];

	var jobfunctions = [
		{% for jobfunction in jobfunctions %}
			{
				value: "{{ jobfunction }}",
				id: "{{ jobfunction }}"
			},
		{% endfor %}
	];
	var current_user_id = '{{ current_user.userid }}';
</script>
<script src="{{url_for('static', filename='js/jobsearch.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='css/tmkt.css')}}"/>
{% endblock %}
