{% extends "base.html" %}

{% block app_content %}
<link rel="canonical" href="https://demo.adminkit.io/forms-editors.html" />
<form>
    <span class="text-danger">*</span>
    <span class="text-danger d-none">This field is required!</span>
    <input type="text" id="job-title" class="form-control mb-3" placeholder="Job title" required />
    <span class="text-danger">*</span>
    <select id="job-category" class="form-control mb-3" required>
        <option selected>Select job posting category</option>
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select>
    <div class="clearfix mb-3">
        <div id="quill-toolbar">
            <span class="ql-formats">
                <select class="ql-font"></select>
                <select class="ql-size"></select>
            </span>
            <span class="ql-formats">
                <button class="ql-bold"></button>
                <button class="ql-italic"></button>
                <button class="ql-underline"></button>
                <button class="ql-strike"></button>
            </span>
            <span class="ql-formats">
                <select class="ql-color"></select>
                <select class="ql-background"></select>
            </span>
            <span class="ql-formats">
                <button class="ql-script" value="sub"></button>
                <button class="ql-script" value="super"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-header" value="1"></button>
                <button class="ql-header" value="2"></button>
                <button class="ql-blockquote"></button>
                <button class="ql-code-block"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-list" value="ordered"></button>
                <button class="ql-list" value="bullet"></button>
                <button class="ql-indent" value="-1"></button>
                <button class="ql-indent" value="+1"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-direction" value="rtl"></button>
                <select class="ql-align"></select>
            </span>
            <span class="ql-formats">
                <button class="ql-link"></button>
                <button class="ql-image"></button>
                <button class="ql-video"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-clean"></button>
            </span>
        </div>
        <div id="quill-editor"></div>
    </div>
    <input type="text" id="expiry_date" class="form-control flatpickr-minimum mb-3" placeholder="Select expiry date.." required />
    <input type="hidden" id="poster_id" value="{{ current_user.userid }}">
    <span id="job-post-btn" class="btn btn-primary pull-right">Submit</span>
</form>

{% endblock %}

{% block script %}
<script>
    var editor;
    var category_id=0;
    document.addEventListener("DOMContentLoaded", function() {
		flatpickr(".flatpickr-minimum");
        editor = new Quill("#quill-editor", {
            modules: {
                toolbar: "#quill-toolbar"
            },
            placeholder: "Write job description here...",
            theme: "snow"
        });
    });
    $('#job-post-btn').on('click', function() {
        var description = editor.root.innerHTML;
        var title = $('#job-title').val();
        var poster_id = $("#poster_id").val();
        var expiry_date = $("#expiry_date").val();
        if(title == "" || category_id == 0) {
            alert("You must fill required fields!");
        } else {
            $.ajax({
                type: 'POST',
                url: '{{ url_for("postjob") }}',
                data: {
                    title: title,
                    category_id: parseInt(category_id),
                    description: description,
                    poster_id: poster_id,
                    expiry_date: expiry_date
                },
            });
        }
    })
    $("#job-category").change(function() {
        category_id = $(this).children(":selected").attr("value");
    });
</script>
{% endblock %}

